transformers==4.33.0
torch==2.2.0
numpy>=1.17
packaging>=20.0
pyyaml>=5.1
regex!=2019.12.17
requests
tokenizers!=0.11.3,<0.14
safetensors>=0.3.1
tqdm>=4.27
filelock
huggingface-hub<1.0,>=0.15.1
fsspec>=2023.5.0
typing-extensions>=3.7.4.3
colorama
charset-normalizer<4,>=2
idna<4,>=2.5
urllib3<3,>=1.21.1
certifi>=2017.4.17
